<% @lists.each do |list| %>
<%= list.name %>
<%= link_to "view détails", list_path(list) %>
<% end %>
<%= link_to "add new list", new_list_path %>
<div class="card-product">
  <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
  <div class="card-product-infos">
    <h2>Product name</h2>
    <p>Product description with <strong>relevant info</strong> only.</p>
  </div>
</div>
